// CTA Header - Call To Action button
.btn-header {
    background-color: $color-white;
    border-radius: 20px;
    color: $color-black;
    display: block;
    padding: 8px;
    text-align: center;
    transition: all .2s ease-in-out;
    margin-top: 20px;
    width: 100px;
    &:hover {
        width: 105px;
    }    
}