@media only screen and (max-width: 1200px) {
    .section-intro {
        width: 70%;
        height: 100%;
    }
}

@media only screen and (max-width: 1023px) {
    .section-intro {
        width: 70%;
        height: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .section-intro {
        width: 70%;
        height: 100%;
    }
}

@media only screen and (max-width: 480px) {
    .section-intro {
        width: 70%;
        height: 100%;
    }
}